<!DOCTYPE html>
<html>
  <head>
    <title>Robot Controller</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">
  </head>
  <body scroll="no">
    
    <div class="controls">
      
      <div class="controllerDiv" style="float:left;">
	<img class="controllerImage" src="static/images/joystick-base.png" style="left:12.5%;"/>
	<div id="stick" class="controllerElement" style="left:12.5%;">
	  <img src="static/images/joystick-blue.png" style="transform: translateX(-50%) translateY(-50%);"/>
	</div>
	<p id="slider_y"> Y: 0</p>
      </div>
    
      <div class="screen">
	<!-- 640x480 100%x75%-->
	<!-- <img src="stream.mjpg"> <!-- width="100%" height="75%"> -->
	<img src="static/images/stream.jpg" style="height: 100%; width:100%;">
	<video src="rtp://10.0.0.17:8000">
	  Your browser does not support RTP streams.
	</video>
      </div>
    

      <div class="controllerDiv" style="float:right">
	<img class="controllerImage" src="static/images/joystick-base.png" style="left:87.5%;"/>
	<div id="slider" class="controllerElement" style="left:87.5%;">
	  <img src="static/images/joystick-red.png" style="transform: translateX(-50%) translateY(-50%);"/>
	</div>
	<p id="joystick_x"> X: 0</p>
	<p id="joystick_y"> Y: 0</p>
      </div>
      
    </div>
    
    <div class="command">
      <div style="position:fixed; top:70%; height:100%; width:100%">
	<pre id="commandHistory"></pre>
      </div>
      <div style="position:fixed; bottom:0; width:100%;">
	<input valign="bottom" type="input" id="commandInput" name="fname" placeholder="Command Input..." style="width:88%; float:left; text-align: left;">
	<input disabled id="sendButton" onclick="sendCommand()" type="send" value="Send" style="width:10%; float: right; text-align: center;">
      </div>
    </div>

<script type="text/javascript" src="static/scripts/controller.js"></script>
</body>
</html>
