[GlowCycle:Default]
stepstart = 0
colorspeed = 4
glowspeed = 2
brightness = 100

[PixelCycle:Default]
stepstart = 0
colorspeed = 1
glowspeed = 0
pixelspeed = -.2
brightness = 5

[VU:Default]
stepstart = 0
colorspeed = -2
subcolorspeed = 17.4
decay = .65
reset = 4000

[Spectrum:Default]
stepstart = 0
colorspeed = 4
subcolor = 0
subcolorspeed = 50
decay = .8
reset = 4000

[3PointVU:Default]
stepstart = 0
colorspeed = 4
subcolor = 0
subcolorspeed = 50
decay = .8
reset = 4000

