[WebsiteLocal]
port = 80
ip = 0.0.0.0
websocketPort = 9000

[WebsiteRemote]
port = 80
ip = 0.0.0.0
websocketPort = 9000

[Socket]
port = 9001

[WebsiteCertificate]
certificate = ""
key = ""

[WebsiteSocket]
certificate = ""
key = ""

[Settings]
webrtc = False
quick exit = False
local settings = True
website cert. = False
websocket cert. = False
leds = True
camera = True
speaker = True
display = True
left servo = True
right servo = True
microphone = True
camera servo = True


